page-login {
    position: absolute;
}
.loginContent{
    background-color:#c4ebfc;
    position: fixed;
}
.divloginContent{
    text-align: center;
    align-self: center;
}
.h1tag{
}
.listcolor{
    background:#c4ebfc;
}